body {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.start-section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px;
}

.start-game-button{
    font-family: 'Archivo Narrow', sans-serif;
    width: 1200px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}


.container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* turn this property on/off after start screen */
}

.table {
    background-color: #277714;
    border: 5px solid black;
    border-radius: 0px 0px 50% 50%;
    padding: 10px;
    width: 1000px;
    height: 700px;  
}

.result {
    text-align: center;
    padding: 30px;
    height: 32px;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

.Dealer-total {
    height: 32px;
}

.Player-cards, .Dealer-cards {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 180px;
}


.card {
    align-self: center;
    width: 100px;
    padding: 10px;
}

.card img {
    width: 100%;
}

.messages {
    text-align: center;
    font-size: 16px;
}

.buttons-box {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}


.button {
    font-family: 'Archivo Narrow', sans-serif;
    width: 60px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
}

.next-round-button{
    display: none;
}